.boxMain{
height: 500px;
width: 1000px;
background-color: black;
}

.boxChange{
    position: absolute;
    display: flex;
   background: linear-gradient(60deg,darkblue,orange,azure,white);
    
    margin-left: 55px;
    margin-top: 500px;
    width: 890px;
    height: 25px;
  

  /*transform: translatey(100%);
  transition: transform 250ms ease-in-out;
*/

}
.buttonChange{
    width: 25px;
    background-color: white;
    border-radius: 30px;
    transition: all .5s ease-in-out;


}
.buttonChangeClicked{
    width: 25px;
    border-radius: 30px;
    background-color: red;
}
.buttonChange:hover{
    background-color: red;
}
.textsec{
    font-weight: 900;
    margin-left: 10px;
    width: 80px;
    color: red;
}
.boxChangef{
    position:absolute;
    display: flex;
    background: rgba(0, 0, 0, 0);
    width: auto;
    height: 25px;
}
.videof{
    position: relative;
}
.sider{
   accent-color: red;
   width: 600px;
}
.videopos{
    justify-content: center;
}
.sliderVolume{
    accent-color: red;
}
.fullScreen{
    position: relative;
}
.fullcontrols{
  
    position: absolute;
    
    z-index:5;
    text-align: center;
    display: flex;
    margin-left: 17%;
    margin-top: 53%;
        background: rgba(0, 0, 0, 0);
     
    
     
     width: 890px;
     height: 25px;
}
.invisibleButtons{
    width: 25px;
    background: rgba(0, 0, 0, 0);
}
.ivisibleslider{
    accent-color: rgba(0,0,0,0);
   width: 600px;
}
.invisibleVolumeSlider{
    accent-color: rgba(0,0,0,0);
}
.invisibleTimer{
    margin-left: 10px;
    width: 80px;
    color: rgba(0, 0, 0, 0);
}
.controlsForVideo{
    
    z-index:10;
    text-align: center;
    display: flex;
   
   
        background: rgba(0, 0, 0, 0);
     
    
     
     width: 890px;
     height: 25px;
}
.videolayer{
    z-index:0;
}
.vd{
display: flex;
background: linear-gradient(60deg,darkblue,orange,azure,white);
 

 
 width: 890px;
 height: 25px;
}