.button {
    position: center;
background-color: rgba(0,0,0,0);
height: auto;
width: 550px;
border: none;
}
.buttonLeft{
    
        background-color: blueviolet;
        height: 20px;
        width: 60px;
        top: 10px;
        left: 330px;
        

}
.card7{
background-color: DeepSkyBlue;
height: auto;
border-radius: 10px;
border: 0px solid orange;
margin-left: 30px;
width: 550px;

transition: all .3s ease-in-out;
}
.card7:hover{
     border-width: 8px;
    transform: scale(1.035,1.15);
}
.text{
color: black;
border: none;
background-color: none;
}
.user{
position: center;    
color: black;
border-radius: 3px;
background-color:aqua;
height: 25px;
width: auto;
padding-right: 3px;
padding-left: 3px;
font-weight: 800;

}
.card1{
    
    position: center;
    
    border: 8px solid greenyellow;
    border-radius: 10px;
    background-color: DodgerBlue;
    height: auto;
    width: 550px;
    margin-left: 30px;
    transition: all .3s ease-in-out;
}
.card1:hover{
    
    transform: scale(1.035,1.15);
}
.card2{
   
    border: 8px solid red;
    border-radius: 10px;
background-color: DodgerBlue;
height: auto;
width: 550px;
margin-left: 30px;
transition: all .3s ease-in-out;
}
.card2:hover{
    
    transform: scale(1.035,1.15);
}