.button {
    position: center;
background-color: rgba(0,0,0,0);
height: auto;
width: 550px;
border: none;
}
.buttonLeft{
    
        background-color: blueviolet;
        height: 20px;
        width: 60px;
        top: 10px;
        left: 330px;
        

}
.card{
    border: none;
background-color: lightblue;
height: auto;
margin-left: 30px;
width: 550px;
}
.card:hover{
    animation-duration: 200ms;
    transform: scale(1.035,1.15);
}
.text{
color: black;
border: none;
background-color: none;
}
.user{
position: center;    
color: black;
border-radius: 3px;
background-color:aqua;
height: 25px;
width: auto;

font-weight: 800;

}
.card1{
    position: center;
    border: none;
    background-color: lightgreen;
    height: auto;
    width: 550px;
    margin-left: 30px;

}
.card1:hover{
    animation-duration: 200ms;
    transform: scale(1.035,1.15);
}
.card2{
    border: none;
background-color: lightpink;
height: auto;
width: 550px;
margin-left: 30px;
}
.card2:hover{
    animation-duration: 200ms;
    transform: scale(1.035,1.15);
}