.topTable{
    width: auto;
    height: 150px;
    z-index: 10;
    clip-path: polygon(0 0,0 50% ,50% 100%,100% 50%, 100% 0);
    background: linear-gradient(90deg,Navy,rgb(174, 98, 228),rgb(207, 65, 169));
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
    /*
    height: 80px;
       
    background: linear-gradient(60deg,white,white,lightgray,lightskyblue,aqua,dodgerblue,blue);
    position: relative;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid linear-gradient(60deg,white,white,lightgray,lightskyblue,aqua,dodgerblue,blue);;
   */
  /* border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-top: 100px solid ;*/
 
  /* border-top-color: linear-gradient(60deg,white,white,lightgray,lightskyblue,aqua,dodgerblue,blue);*/
}
/*
.topTable:after{
    width: auto;
    height: 150px;
    z-index: 1;
    clip-path: polygon(0 0,0 70% ,50% 100%,100% 70%, 100% 0,50% 30%);
    background: black;
}*/

.buttonsT{
    
    
    margin-top: 20px;

border-color: rgb(50, 9, 70);
border-width: 3px;
margin-left: 20px;
margin-right: auto;
height: 40px;
width: auto;
text-align: center;
background-color: rgb(149, 173, 228);
transition: all .5s ease-in-out;

}
.buttonsT:hover{
   transform: scale(1.2,1.2); 
border-width: 6px;
background-color: linear-gradient(90deg,rgba(105, 112, 163, 0.219),rgba(29, 9, 143, 0.258));

}
.homeButtonToogle{
    margin-left: 20%;
    border: none;
     height: 50px;
        width: 10%;
        clip-path: polygon(0 0,0 100%, 100% 100%, 100% 35%);
        background: lightcoral;
        transition: all .9s ease-in-out;
}
.buttonsToogleSection{
    margin-top: -40px;
    display: flex;
}
.homeButtonToogle:hover{
    background: rgb(50, 9, 70);
}
.homeButtonToogle1{
    margin-left: 40%;
    border: none;
    
     height: 50px;
        width: 10%;
        clip-path: polygon(0 35%,0 100%, 100% 100%, 100% 0);
        background: lightcoral;
        transition: all .9s ease-in-out;
}
.homeButtonToogle1:hover{
    background:rgb(50, 9, 70);
}
.homeButtonsTop{
    border-radius: 35px;
    margin-top: 15px;
    text-align:left;
margin-left: 200px;
height: auto;
width: 800px;
clip-path: polygon(0 0,0 70% ,50% 100%,100% 70%, 100% 0);
border: none;
transition: all .2s ease-in-out;
background: linear-gradient(60deg,);
}
.homeButtonsTopF{
    border-radius: 35px;
    margin-top: 100px;
    text-align:left;
    margin-left: 200px;
    height: auto;
    width: 800px;
    clip-path: polygon(0 0,0 70% ,50% 100%,100% 70%, 100% 0);
    border-color: rgb(50, 9, 70);
    transition: all .2s ease-in-out;
    background: linear-gradient(90deg,white,azure,wheat );
}
.homeButtons{ 
    padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-top: 10px;
    margin-top: 30px;
    text-align:left;
    border-radius: 5px;
margin-left: 5px;
height: auto;
border-width: 0px;
width: 95%;
/*clip-path: polygon(0 0,0 70% ,50% 100%,100% 70%, 100% 0);*/
border-color: rgb(40, 153, 59);
transition: all .2s ease-in-out;
background: linear-gradient(90deg,PaleTurquoise,SkyBlue);
}
.homeButtonsF{
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-top: 10px;
margin-top: 30px;
text-align:left;
margin-left: 5px;
border-width: 0px;
height: auto;
border-radius: 5px;
/*clip-path: polygon(0 0,0 100%,100% 100%,100% 10%);*/
width: 95%;
border-color: rgb(50, 9, 70);
transition: all .2s ease-in-out;
background: linear-gradient(90deg,rgba(255, 255, 255, 0.737),rgba(105, 95, 195, 0.825));
}
.newsTitle{
    padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-top: 10px;
    margin-top: 30px;
text-align:left;
margin-left: 5px;
height: auto;
border-radius: 5px;
/*clip-path: polygon(0 0,0 100%,100% 100%,100% 10%);*/
width: 95%;
border-width: 0px;
border-color: rgb(50, 9, 70);

transition: all .2s ease-in-out;
background-color: Bisque;
}
.newsTitle:hover{
    border-width: 8px;
    
    transform: scale(1.3);
    
}
.text{
    font-family: 'Helvetica', sans-serif;
    margin-left: 25px;
color: rgb(57, 55, 55);
font-size: large;
}
.textF{
    font-family: 'Helvetica', sans-serif;
    margin-left: 25px;
    color: rgb(57, 55, 55);
    font-size: large;
}
.text1{
    
   
color: rgb(57, 55, 55);
text-align: center;
font-size: x-large;
}
.text2{
    
    margin-left: 25px;
color: green;
text-align: center;
font-size: x-large;
}
.homeButtons:hover{
    border-width: 8px;
    transform: scale(1.3);
}
.homeButtonsF:hover{
    border-width: 8px;
    transform: scale(1.3);
    }
.MP{
    
   
    font-size: xx-large;
    text-align: right;
    margin-left: 60%;
}
.CardTable{
    display: flex;
}
.section{
    width: 80%;
    height: auto;
    margin-left: 10%;
}
.bodyColor{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://api.chas.news/img-srv/image/width=630,quality=85/media-storage/12_2021/756148808557036.jpg);
}
.forText{
    border-radius: 20px;
    padding-bottom: 5px;
    background-color: blueviolet;
    text-align: center;
    color: white;
    font-size: xx-large;
}
.textDetForOpis{
    font-size: x-large;
    font-weight: 1000;
    color: black;
}