.redLable{
    background-color: lightcoral;
    border-color: red;
    
}
.whiteLable{
    background-color: rgb(228, 206, 245);
    border-color: red;
    
}

.box{ 
    border-radius: 35px;
    text-align: center;
    margin-top: 100px;
margin-left: 500px;
height: 450px;
width: 450px;
background: linear-gradient(60deg,darkblue,rgb(107, 36, 158),rgb(217, 56, 242),rgb(237, 135, 230));
}
.button1{
    
   justify-content: center;
   align-items: center;
   position:static;
height: 40px;
width:  120px;
background-color: green;
color: white;
transition: all .5s ease-in-out;

}
.button1:hover{
    background-color: darkgreen;
    transform: scale(1.25);
    
}
.button1:active{
    transform: scale(0.75);
    background-color: red;
}



.buttonHide{
width: 30px;
height: 30px;
background-color: rgb(222, 174, 248);
}