.back{
    background-color: #D3D3D3;
}
.text{
   font-size: x-large;
    font-weight: 700;
    fill: black
    
}
.imgS{
    height: 50%;
    width: 50%;
    margin-left: 20%
}
.upcomponent{
width: auto;
height: 70px;
z-index: 10;
background: linear-gradient(90deg,lightskyblue,cyan,azure);
display: flex;
}
.buttonsa{
    position: absolute;
    
    margin-top: 20px;

border-color: red;
border-width: 3px;
margin-top: 10px;
margin-left: 40%;
font-size: xx-large;
height: 40px;
width: 200px;
background-color: white;
transition: all .5s ease-in-out;

}

.buttonsa:hover{
    
   transform: scale(1.25,1.25); 
border-width: 6px;
background-color: azure;
}
.buttonsa:active{
    transform: scale(0,0);
    border-width: 20px;
}
.textMain{
    margin-left: 1%;
    margin-top: 10px;
}

