.formMain{

    display: flex;
    
    height: 60px;
   
    background: linear-gradient(60deg,white,azure,orange,darkblue);
    position: relative;
    

}
.Settingtables{
    width: auto;
    height: auto;
    background-color: lightskyblue;
    
    
}
.tableDefault{
    
    background-color: lightgray;
}
.table{
    
    
    background-color: white;
}
.texterrors{
    color: red;
}
.textmoney{
    font-size: xx-large;
    color: green;
    margin-left: auto;
    margin-right: 10px;
}
.textuser{
    font-size: xx-large;
    margin-left: 10px;
}
.ticket{
    
width: auto;
height: 200px;
margin-left: 30px;
margin-right: 30px;
margin-bottom: 30px;
background: linear-gradient(90deg,white,wheat);

border-color: black;

font-size: 24px;
text-align: left;
}
.textLabletext{
    width: 500px;
    height: auto;
    color: black;
}
.buttonD{
    margin-left: auto;
     width: auto;
     border: none;
     height: auto;
   
     color: black;
     background-color: white;
     transition-property: background-color;
     transition-duration: 1000ms;
     transition-property: color;
     transition-duration: 1000ms;
 }
 .buttonD:hover{
     background-color: red;
     
 }
 .buttonD:hover{
    color: white;
 }
 .buttonSubmitChanges{
    margin-top: 15px;
       margin-left: 250px;
       background-color: green;
       color: white;
       font-size: xx-large;
 }
 .buttonSubmitChanges:hover{
    transform: scale(1.25);
 }

