.buttonLock{
    margin-top: 10px;
    display: flex;
    width: 80px;
    flex-direction: column;
height: 40px;
left: 480px;
display: flex;
background-color: rgba(0,0,0,0);
color: gray;
}
.buttonOk{
    margin-top: 10px;
    display: flex;
width: 80px;
flex-direction: column;
height: 40px;
left: 480px;
display: flex;
background-color: rgba(0,0,0,0);
font-weight: 800;
color: black;
border: none;
}
.form1{
  display: flex; 
background-color:lightskyblue;
width: auto;
height: 50px;
}
.form2{
background-color: azure;
width: 1000px;
height: auto;

}